.homeColumn{
	float:left; 
	cursor: pointer;
	position: relative;
}

.homeColumn1{
	background:url('../images/facecolor/col_1.png');
}

.homeColumn2{
	background:url('../images/facecolor/col_2.png');
}

.homeColumn3{
	background:url('../images/facecolor/col_3.png');
}

.overlayHomeColumn{
	background: url('../images/facecolor/pattern_bg.png');
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.overlayHomeColumnText{
	background:url('../images/facecolor/pattern_bg_text.png');
	padding: 25px 0;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 12;
	color: #fff;
	font-size: 20px;
	text-shadow: -2px 3px 3px rgba(0,0,0,1);

}

