.homeColumn{
	float:left; 
	cursor: pointer;
	position: relative;
	width: 33.3%;
}

.homeColumn1{
	background:url('../images/facecolor/col_1.png');
}

.homeColumn2{
	background:url('../images/facecolor/col_2.png');
}

.homeColumn3{
	background:url('../images/facecolor/col_3.png');
}

.overlayHomeColumn{
	background: url('../images/facecolor/pattern_bg.png');
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.overlayHomeColumnText{
	background:url('../images/facecolor/pattern_bg_text.png');
	padding: 25px 0;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 12;
	color: #fff;
	font-size: 16px;
	text-shadow: -2px 3px 3px rgba(0,0,0,1);

}

nav.dark .main-menu a:hover,
nav.dark .main-menu a.active{
	color: #ffffff;
}

nav.dark .main-menu{
	line-height: 19px;
	height: 19px;
}
nav.dark .main-menu li{
	margin: 0px; 
}
nav.dark .main-menu div{
	background: url("../images/facecolor/menu_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 33px;
    margin-left: 10px;
    padding-top: 31px;
    position: relative;
    text-align: center;
    top: -25px;
    width: 118px;
}

#news-container{
	position: relative;
	left: 0px;
}


#news-container .news-bg{
	background: url("../images/facecolor/pattern_news.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 2px;
	width: 0;
	overflow: hidden;
	margin: 0px;
}

.news-bg .news-image img{
	width:100%;
	min-height: 100%;
}


.news-arrow {
    float: left;
    padding-right: 5px;
    padding-top: 95px;
    width: 30px;
    cursor:pointer;
}


.black-background{
	background-color: #000000;
	padding: 1px;
}

.modal-open{
	overflow: hidden !important;
}

.left-column{
	float: left;
	width: 48%;
}

.right-column{
	float: right;
	width: 48%;
}

.news-column{
	clear: both;
	margin-bottom: 20px;
}

.opacity7{
	opacity: 0.7;
}


.close-container{
    background: none repeat scroll 0 0 #ff0099;
    border-radius: 50%;
    color: #ffffff;
    float: right;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 0 0 -40px;
    text-align: center;
    width: 40px;
    z-index: 1000;
}


.contact-us{
	margin-top: 20px;
    color: #ff0099;
    font-size: 56px;
    font-weight: bold;
    line-height: 40px;
}

.contact-us-desc{
	color: #ff0099;
	font-size: 24px;

}